@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
        background: #ff8000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
    }

img {
        Width: 383px;
        Height: 280px;
    }

h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 52px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 26px;
    }


button {
        background: #ed3c00;
        box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
        border-radius: 10px;
        width: 342px;
        height: 72px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 36px;
        margin-top: 80px;
        border: none;
        cursor: pointer;
    }

button:hover {
        opacity: 0.9;
    }

button:active {
        opacity: 0.8;
    }
